body,
html {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Fix for Mac Chrome 80", system-ui, -apple-system,
    BlinkMacSystemFont, ".SFNSText-Regular", sans-serif;
  background-color: #e9ebee;
}

* {
  box-sizing: border-box;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.header {
  background-color: #3b5998;
  color: white;
  align-content: center;
  align-items: center;
}

.header-container {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
}

.header-container-left {
  display: flex;
  align-items: center;
}

.logo {
  margin-top: 10%;
  margin-bottom: 5%;
  font-size: 40px;
  font-family: "Klavika B";
  font-weight: bold;
}

.register-button {
  margin-top: 10%;
  display: flex;
  border: none;
  font-size: 20px;
  margin-left: 20px;
  color: white;
  background-color: #42b72a;
}

.join-facebook {
}

.main {
  width: 60%;
  align-items: center;
  margin: auto;
}

.main-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-figure {
  background-color: white;
  border-radius: 8px;
  padding: 30px;
  margin: 0;
  background-color: white;
  width: 49%;
  height: 502px;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.main-figure-title {
  padding: 0;
  margin-top: 40px;
  margin-bottom: 0;
}

.main-figure-content {
  color: gray;
  size: 5px;
}

.main-figure-button {
  margin-top: 22%;
  border: gray;
}
